.env
.env.*
!.env.example

/vendor/
/node_modules/

*.log

.DS_Store
.idea/
.vscode/

.phpunit.result.cache
.php-cs-fixer.cache

.dist/

# PHP CS Fixer configuration
/.php-cs-fixer.php

# Binaries
*.sh
